/* Contact */
#contact {
    background-image: url(../../Images/contato.png) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3em;
    padding-top: 5px;
    margin-top: -15px;
}

#contact h1 {
    margin-top: 60px;
    font-weight: 400;
    font-size: 42px;
    color: var(--branco);
    font-family: var(--bebas-font);
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.form-group{
    color: var(--branco);
    display: flex;
    flex-direction: column;
    gap: 5px;  
}

.form-group p{
    text-align: left;
    font-family: var(--arimo-font);
    font-weight: 00;
}

.email {
    grid-column: span 2;
}

input, textarea{
    padding: 5px;
}

input::placeholder, textarea::placeholder{
    color: rgb(160, 160, 160);
}

.form-group.full-width{
    grid-column: span 2;
}

.contact-button{
    display: flex;
    justify-content: center;
}

#contact button {
    margin: 1.3em 0;
    padding: 14px;
    width: 7em;
    border: none;
    border-radius: 15px;
    color: var(--preto);
    background-color: var(--branco);
    transition: ease 0.3s;
}

#contact button:hover{
    cursor: pointer;
    background-color: var(--azul-tom3);
}