

.footer {
    background-color: #1a3d3e;
    color: white;
    padding: 20px 0;
    text-align: center;
    height: 300px;

}


.redesSociais{
    display: inline;
    height: 30px;
    border-radius: 8px;
    margin: 10px;

}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 3000px;
    margin: auto;

}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h5 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #f8f9fa;
}

.footer-section ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;

}

.footer-section ul li {
    margin-bottom: 10px;
    color: #ced4da;
    
}

.footer-section ul li a {
    color: #ced4da;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #a5b2bf;
}

.footer-rodape {
    background-color: #1a3d3e;
    color: #868e96;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        max-width: 300px;
        text-align: center;
    }
}